<% @page = "resources" %>
<h3>Professional Affiliations</h3>
<br />
<p>Comforting Arms is proud to be affiliated with the following organizations, all of which validate our adherence to the highest levels of quality service, ethical values, and best practices in our community and the industry.</p>
<br />
<p><strong><%= link_to "The Senior’s Choice", "http://www.theseniorschoice.com/", target: "_blank" %></strong></p>

<p>Learn more about our affiliation with the nation’s largest network of independent private duty companies.</p>
<br />
<p><strong><%= link_to "Acworth Business Association", "http://www.acworthbusiness.org/", target: "_blank" %></strong></p>
</p>
<br />
<p><strong><%= link_to "Aloha to Aging", "http://alohatoaging.org/", target: "_blank" %></strong></p>
</p>
<br />
<p><strong><%= link_to "Cobb Chamber of Commerce", "http://cobbchamber.org/", target: "_blank" %></strong></p>
</p>
<br />
<p><strong><%= link_to "Kennesaw Business Association", "http://kennesawbusiness.org/eydev/home", target: "_blank" %></strong></p>
</p>