<% @page = "resources" %>
<h3>Resources</h3>
<br />
<p>Comforting Arms is happy to provide the following links to other sites that you may find useful:</p>
<br />
<p><strong><%= link_to "The Senior’s Choice", "http://www.theseniorschoice.com/mm/search-request.html" %></strong></p>
<p>If you or someone you know needs in-home care <em>outside</em> of Cobb, Cherokee, Dekalb, Fulton or Paulding county, we are pleased to recommend our colleagues throughout North America. As fellow members of The Senior’s Choice, the nation’s largest network of independent private duty companies, we represent the highest level of senior care available for your loved ones. To find a member of The Senior’s Choice in your area, simple visit their website by clicking on the above link.</p>
<br />
<%= image_tag "resources.jpg", class: "resources-img" %>
<p><strong><%= link_to "American Health Assistance Foundation", "http://www.ahaf.org/" %></strong></p>
<p>AHAF is one of America’s leading supporters of scientific and medical investigations into Alzheimer’s disease, glaucoma, macular degeneration, heart disease, and stroke.</p>
<br />
<p><strong><%= link_to "AARP", "http://www.aarp.org/" %></strong></p>
<p>American Association of Retired Persons provides resources and advice on finances, travel, health, and technology.</p>
<br />
<p><strong><%= link_to "National Association of Area Agencies on Aging", "http://www.n4a.org/" %></strong></p>
<p>N4A’s primary mission is to build the capacity of its members to help older persons and persons with disabilities live with dignity and choices in their homes and communities for as long as possible.</p>
<br />
<p><strong><%= link_to "Health and Age.com", "http://www.healthandage.com/" %></strong></p>
<p>An educational web center to promote interaction between the public and healthcare professionals.</p>
<br />
<p><strong><%= link_to "The Alzheimer’s Association", "http://www.alz.org/" %></strong></p>
<p>The leading, global voluntary health organization in Alzheimer care and support, and the largest private, nonprofit funder of Alzheimer research. The Alzheimer’s Association works on a global, national and local level to enhance care and support for all those affected by Alzheimer’s and related dementias.</p>